.numberitems{
    font-size: larger;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.ourproducts{
    font-size: large;
    font-family: cursive;
}

.addItemGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    height: 50px;
}

.additem{
    background-color: greenyellow;
}